.card {
  height: 140px;
  width: 140px;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.name {
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  margin: auto;
  user-select: none;
}

.disponible{
  background-color:rgb(93, 152, 93);
}

.entregado{
  background-color:rgb(248, 85, 85);
}