.searcher {
  padding: 20px;
}

.territorios {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: auto;
}

.box-filtros{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.box-filtro{
  margin: 0px;
}

.box-loading{
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.spinner-border {
  height: 2.4em;
  width: 2.4em;
  font-size: 2.4em;
}

.selected{
  background-color: #bb1bf5;
  box-shadow: none !important;
  border: none;
}



button, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  box-shadow: none !important;
}

button{
  width: 150px;
  height: 40px;
  font-size: 1.2em;
}
