.searcher {
  padding: 25px;
}

.territorios {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: auto;
}
