.position-button {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

button {
    width: 80vw;
    height: 16vh;
    font-size: 1.6em;
    background-color: rgb(91,60,136);
    border-color: rgb(91, 58, 141);
}

button:hover{
    background-color: rgb(80, 44, 132);
}

button:active{
    background-color: rgb(62, 10, 146);
}


.container-buttons {
    margin-top: 25vh;
}