@import '../../../../styles.scss';

.position-button {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

button {
  width: 80vw;
  height: 16vh;
  font-size: 1.6em;
  background-color: $color-primary;
  border-color: rgb(91, 58, 141);
}

button:hover {
  background-color: rgb(80, 44, 132);
  border-color: rgb(91, 58, 141);
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
