<app-navbar></app-navbar>

<div class="box-loading" *ngIf="!loaded">
    <div class="spinner-border text-success" role="status"></div>
</div>
<div class="row row-cols-1">
    <section *ngIf="loaded">
        <div class="searcher">
            <div class="col center">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchParam" />
            </div>
        </div>

        <div class="card-container">
            <div>
                <article *ngFor="let uno of hermanos | searcher: searchParam:'nombre'" class="card">
                    {{ uno.nombre }}
                </article>
            </div>
        </div>
    </section>
</div>