@import '../../../../styles.scss';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 8px;
}

.container-center {
    margin-top: 5vh;
}



.card {
    width: 80vw;
    height: 10vh;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    user-select: none;
    cursor: pointer;
    div{
        margin: auto;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selected {
    color: white;
    background-color: $color-secondary;
}

.btn-color {
    background-color: rgb(91,60,136);
    border-radius: 15px;
    border: none !important;
    color: white;
    font-size: 1.3em;
    width: 40vw;
    height: 8vh;
}

.btn-color:hover {
    background-color: rgb(80, 44, 132);
}

.btn-color:disabled {
    background-color: rgb(122, 93, 168);
}

.btn-container {
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

@media screen and (max-height: 610px) {
    .card {
       font-size: 1.3em;
    }    
}
@media screen and (max-height: 500px) {
    .card {
       font-size: 1.2em;
    }    
}
