<section class="container">
  <div class="row p-4">
    <div class="card card-titulo mt-3 col">
      <h4 class="center-text">{{ territorio.id }}</h4>
    </div>
    <div class="card card-titulo mt-3 col">
      <h4 class="center-text">{{ territorio.tipo | titlecase }}</h4>
    </div>
  </div>


  <div class="card-container">
    <div *ngFor="let num of territorio.numeros">
      <article class="card card-numeros"  (click)="marcarTelefono(num)" [id]="'telefono-' + num ">
        <div>{{ num }}</div>
      </article>
    </div>
  </div>
</section>

<footer>
    <div>
        <button class="btn btn-danger" (click)="devolverTerritorio()">Devolver</button>
    </div>
</footer>
