@import '../../../../styles.scss';

.card{
  user-select: none;
}

.card-numeros {
  width: 80vw;
  height: 10vh;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  user-select: none;
  cursor: pointer;
  div {
    margin: auto;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-titulo {
  text-align: center;
  width: 4em;
  height: 3em;

  h4 {
    margin: auto;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 4em;
  height: 3em;

  div {
    padding: 15px;
    .btn {
      font-size: 1.5em;
    }
  }
}

.active{
  background-color: $color-tertiary;
  color: white;
}

@media screen and (max-height: 610px) {
  .card-numeros {
    font-size: 1.3em;
  }
  .card-titulo {
    width: 3em;
    height: 2em;
  }
}
@media screen and (max-height: 500px) {
  .card-numeros {
    font-size: 1.2em;
  }
  .card-titulo {
    width: 3em;
    height: 2em;
  }
}
