
@import '../../../../styles.scss';

.header-territorio{
  padding: 1.3em;
}

.nav-link {
  font-size: 1.4em;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.nav-fill .nav-item {
  text-align: start;
  padding: 8px;
}

nav{
  background-color: $color-primary !important;
}


.searcher {
    padding: 20px;
  }

  .card{
    user-select: none;
  }

  .card-numeros {
    width: 80vw;
    height: 10vh;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    user-select: none;
    cursor: pointer;
    div {
      margin: auto;
    }
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


.card-titulo {
  text-align: center;
  width: 4em;
  height: 3em;

  h5 {
    margin: auto;
  }
}

.disponible{
  color:rgb(93, 152, 93);
}

.entregado{
  color:rgb(248, 85, 85);
}