<nav class="nav nav-fill bg-dark" >
  <li class="nav-item">
      <a class="nav-link" (click)="backToCards()"><i class="fa-solid fa-arrow-left"></i></a>
  </li>
  <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
  </li>
</nav>


<div class="container header-territorio">
  <div class="row">
    <div class="card card-titulo col">
      <h5 class="center-text">{{ territorio.id }}</h5>
    </div>
    <div class="card card-titulo col">
      <h5 class="center-text">{{ territorio.tipo | titlecase}}</h5>
    </div>
    <div class="card card-titulo col-12">
      <h5 class="center-text disponible" *ngIf="!territorio.estado">Disponible</h5>
      <h5 class="center-text" *ngIf="territorio.estado" [class]="territorio.estado">{{ territorio.estado | titlecase }}</h5>
    </div>
    <div class="card card-titulo col-12" *ngIf="territorio.devolucion">
      <h5 class="center-text" *ngIf="territorio.devolucion">Devuelto: {{ territorio.devolucion | date : 'dd/MM/yyyy' }}</h5>
    </div>
  </div>
</div>

<div class="searcher">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchParam" />
  </div>
</div>

<div class="card-container">
  <div *ngFor="let num of territorio.numeros | searcherAllFields: searchParam">
    <article class="card card-numeros">
      <div>{{ num }}</div>
    </article>
  </div>
</div>
