@import './app/shared/colors.scss';

$color-primary: #5A3D88;
$color-secondary: #3B3547;
$color-secondary: #534C64;
$color-tertiary: #736C84;
$color-gray: #D8D8D8;
$color-background: #F1F1F1;

body{
    background-color: $color-background;
}

button{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}


